<h1>checkout page</h1>




<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
 
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">name</label>
    <input type="email" class="form-control" name="name" id="name" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">order</label>
    <input type="text" class="form-control" name="order" id="order" aria-describedby="emailHelp">
   
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">city</label>
    <input type="text" class="form-control"  name="city" id="city" aria-describedby="emailHelp">
   
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">state</label>
    <input type="text" class="form-control"  name="state" id="state" aria-describedby="emailHelp">
   
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">amount</label>
    <input type="number" class="form-control"  name="amount" id="amount" aria-describedby="emailHelp">

  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">zipcode</label>
    <input type="number" class="form-control" name="zipcode" id="zipcode" aria-describedby="emailHelp">
   
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">address1</label>
    <input type="text" class="form-control" name="address1" id="address1">
  </div>
  <div class="mb-3 form-check">
    <label for="exampleInputPassword1" class="form-label">address2</label>
    <input type="text" class="form-check-input" name="address2"id="address2">
    
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>